.btn{
  font-size: 16px;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  transition: all 300ms ease;
  padding: 12px 18px;
  text-align : center;
  border-radius: 9999px;

  &:hover{
    transition: all 300ms ease;
  }
}

.btn-purple{
  color: map-get($colors,'white');
  background-color: map-get($colors,'purple');
  border: 2px solid map-get($colors,'purple');
  &:hover{
    color: map-get($colors,'purple');
    background-color: transparent;
  }
}
