* {
  box-sizing: border-box;
  outline: none !important;
}

html, body{
  margin: 0;
  padding: 0;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  max-width: 100%;
  display: block;
  vertical-align: middle;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
button:focus {
  outline: none;
}